@import '../../styles/Global.scss';

.question__txt{
    font-size: 1.4em;
    margin-bottom: 16px;
    overflow-x: auto;
}

@media (max-width: 360px) {
    .question__txt {
        font-size: 1.3em;
    }
}